{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    {{ etiqueta }} beneficiario
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %}
    {{ etiqueta }} Beneficiario
{% endblock %}
{% block contenido %}
    <form action="{% url 'beneficiarios:' %}" method="post">
        {% csrf_token %}
        <div id="svg_wrap">
        <!--El javascript inserta aquí la sección correspondiente conforme nos movemos en el formulario  -->
        </div>
        <section>
            <div class="container">
                <p style="display: inline;"><b>Datos del beneficiario</b></p>
                <hr>
                <p style="display: inline;">
                    {{form.as_p}}
                </p>
            </div>
        </section>
        <div id="prev">
            <a class="btn btn-secondary" href="">Regresar</a>    
            <input type="submit" class="btn btn-primary" id="submit" value="Guardar">
        </div>
        <!--Es el botón que va a enviar el formulario (en teoría xd)-->
        <!--No olviden poner las validaciones del de este lado, se tendrán que poner a mano a menos de que
        después encuentre alguna forma de ponerlas con ayuda de Django y utilizando este mismo código-->
        
    </form>
    <br>
{% endblock %}
