{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Trámite
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %}
<div class="container">
    <div class="row">
        <div class="col-10">
            Iniciando trámite
        </div>
    </div>
</div> 
{% endblock encabezado %}

{% block contenido %}
    <form action="{% url app %}" method="POST">
        {% csrf_token %}
        <div id="svg_wrap">
        <!--El javascript inserta aquí la sección correspondiente conforme nos movemos en el formulario  -->
        </div>
        <section>
            <div class="container">
                <p style="display: inline;">
                    {{form.as_p}}
                </p>
            </div>
        </section>
        <div id="prev">
            <a class="btn btn-secondary" href="{% url 'tramites:lista_tramite' %}">Regresar</a>    
            <input type="submit" class="btn btn-primary" id="submit" value="Siguiente">
        </div>
        <!--Es el botón que va a enviar el formulario (en teoría xd)-->
        <!--No olviden poner las validaciones del de este lado, se tendrán que poner a mano a menos de que
        después encuentre alguna forma de ponerlas con ayuda de Django y utilizando este mismo código-->
    </form>
    <br>
{% endblock %}