{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Lista de Constancias de Estudio
{% endblock titulo %}

{% block encabezado %}
    <div class="container">
        <div class="row">
            <div class="col-11">
                Lista de Constancia de estudios
            </div>
            <div class="col-1">
                <a class="btn btn-success btn-lg" href="#">Nuevo</a>
            </div>
        </div>
    </div>
{% endblock encabezado %}
{% block contenido %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Información de constancias
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Nombre completo</th>
                    <th>CURP</th>
                    <th>Número de teléfono</th>
                    <th>Correo electrónico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nombre</th>
                    <th>CURP</th>
                    <th>Número de teléfono</th>
                    <th>Correo electrónico</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
            <tbody>
                {% for constancia in object_list %}
                    <tr>
                        <td>{{constancia.nombre}} {{constancia.ap_paterno}} {{constancia.ap_materno}}</td>
                        <td>{{constancia.curp}}</td>
                        <td>{{constancia.num_telefonico}}</td>
                        <td>{{constancia.email}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'tramites:detalle_tramite' tramite.id %}">Ver más</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock contenido %}