{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Lista de Correción de Actas
{% endblock titulo %}

{% block encabezado %}
    <div class="container">
        <div class="row">
            <div class="col-11">
                Lista de Correción de Actas
            </div>
            <div class="col-1">
                <a class="btn btn-success btn-lg" href="{% url 'ferias_binacionales:nuevo_correccion_acta' %}">Nuevo</a>
            </div>
        </div>
    </div>
{% endblock encabezado %}
{% block contenido %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Información Correción de Actas
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Nombre completo</th>
                    <th>Original y 2 copias</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nombre completo</th>
                    <th>Original y 2 copias</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
            <tbody>
                {% for correccion in object_list %}
                    <tr>
                        <td>{{correccion.nombre}} {{correccion.ap_paterno}} {{correccion.ap_materno}}</td>
                        <td>
                            {% if correccion.original_copias == 1 %}
                                Entregada
                            {% else %}
                                No entregada
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="#">Ver más</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a class="btn btn-secondary" href="{% url 'ferias_binacionales:servicios' %}">Regresar a Servicios</a>  
{% endblock contenido %}