{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    {{ etiqueta }} Persona desaparecida
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %}
    {{ etiqueta }} Persona desaparecida
{% endblock %}
{% block contenido %}
    <form method="post">
        {% csrf_token %}
        <div id="svg_wrap">
        <!--El javascript inserta aquí la sección correspondiente conforme nos movemos en el formulario  -->
        </div>
        <section>
            <div class="container">
                <p style="display: inline;">
                    {{form.as_p}}
                </p>
            </div>
        </section>
        <button type="submit" class="btn btn-primary">{{boton}}</button>
    </form>
{% endblock %}

{% block js %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="{% static 'js/formulario.js' %}"></script>
{% endblock %}