{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    {{ etiqueta }} Persona desaparecida
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %}
    {{ etiqueta }} Persona desaparecida
{% endblock %}
{% block contenido %}
    <form method="POST">
        {% csrf_token %}
        <div id="svg_wrap">
        <!--El javascript inserta aquí la sección correspondiente conforme nos movemos en el formulario  -->
        </div>
        <section>
            <div class="container">
                <p style="display: inline;">
                    {{form.as_p}}
                </p>
            </div>
        </section>
        <div id="prev">
            <a class="btn btn-secondary" href="{% url 'localizacion_personas:lista' %}">Regresar</a>    
            <button type="submit" class="btn btn-primary" id="submit">{{boton}}</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
{% endblock %}