{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Apostillas
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %} Detalles de la persona desaparecida {% endblock %}
{% block contenido %}
    <div id="svg_wrap">
        <section> 
            <p><b>Datos generales de la persona desaparecida</b></p>
            <hr>
            <div class="col-6">
            <p><b>CURP: </b>{{persona.curp}}</p>
            <p><b>Apellido paterno: </b> {{persona.apellido_paterno_desaparecido}}</p>
            <p><b>Apellido materno: </b> {{persona.apellido_materno_desaparecido}}</p>
            <p><b>Nombre: </b>{{persona.nombre_desaparecido}}</p>
            <p><b>Fecha de nacimiento: </b>{{persona.fecha_nacimiento_desaparecido}}</p>
        </section>
    </div>
    <div id="svg_wrap">
        <section> 
            <p><b>Datos generales de la desaparición</b></p>
            <hr>
            <div class="col-6">
            <p><b>Estatus: </b>{{persona.estatus}}</p>
            <p><b>Último lugar dónde se sabe al desaparecido(a): </b> {{persona.ultimo_lugar}}</p>
            <p><b>Fecha de desaparición: </b> {{persona.fecha_desaparicion}}</p>
            <p><b>Observaciones: </b>{{persona.observaciones}}</p>
        </section>
    </div>    
    <div id="svg_wrap">
        <section> 
            <p><b>Datos generales del solicitante</b></p>
            <hr>
            <div class="col-6">
            <p><b>Apellido paterno: </b> {{persona.apellido_paterno_solicitante}}</p>
            <p><b>Apellido materno: </b> {{persona.apellido_materno_solicitante}}</p>
            <p><b>Nombre: </b>{{persona.nombre_solicitante}}</p>
            <p><b>Número de télefono: </b>{{persona.telefono_solicitante}}</p>
        </section>
    </div>
    <a class="btn btn-primary btn-lg" href="{% url 'localizacion_personas:lista'%}">Regresar</a>
{% endblock %}
