{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Detalles del beneficiario
{% endblock titulo%}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %} 
    <div class="container">
        <div class="row">
            <div class="col-10">
                Detalles del beneficiario 
            </div>
            <div class="col-1">
                <a  class="btn btn-primary" href = "{% url 'beneficiarios:editar' beneficiario.curp %}" style="display: inline;">Editar</a>
            </div>
            <div class="col-1">
                <button onclick="muestraModal('{% url 'beneficiarios:eliminar' beneficiario.curp %}')" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarModal">Eliminar</button>
            </div>
        </div>
    </div>
{% endblock encabezado %}

{% block contenido %}
<div id="svg_wrap">
    <section> <!-- Para agregar un paso más al formulario se utiliza esta tag y dentro de ella
        los controles de formulario según se necesite  -->
        <p><b>Datos personales</b></p>
        <hr>
        <div class="col-6">
            <p><b>CURP: </b>{{beneficiario.curp}}</p>
            <p><b>Apellido paterno: </b> {{beneficiario.primer_apellido}}</p>
            <p><b>Apellido materno: </b> {{beneficiario.segundo_apellido}}</p>
            <p><b>Nombre: </b>{{beneficiario.nombre}}</p>
            <p><b>Documento de identificación: </b>{{beneficiario.identificacion}}</p>
            <p><b>Beneficiario colectivo:</b>
                {% if beneficiario.beneficiario_colectivo == True %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </p>
        </div>
    </section>
</div>
    

<div id="svg_wrap">
    <section> <!-- Para agregar un paso más al formulario se utiliza esta tag y dentro de ella
        los controles de formulario según se necesite  -->
        <p><b>Dirección</b></p>
        <hr>
        <div class="col-6">
            <p><b>Municipio: </b>{{beneficiario.asentamiento.localidad.municipio}}</p>
            <p><b>Localidad: </b>{{beneficiario.asentamiento.localidad}}</p>
            <p><b>Asentamiento: </b>{{beneficiario.asentamiento}}</p>
            <p><b>Vialidad: </b>{{beneficiario.nombre_vialidad}}</p>
            <p><b>Tipo de vialidad: </b>{{beneficiario.tipo_vialidad}}</p>
            <p><b>Entre vialidades: </b>{{beneficiario.entre_vialidades}}</p>
            <p><b>Número exterior: </b>{{beneficiario.numero_exterior}}</p>
            <p><b>Número interior: </b>
                {% if beneficiario.numero_interior == None %}
                    No aplica  
                {% else %}
                    {{beneficiario.numero_interior}}
                {% endif %}
            </p>
            <p><b>Descripción de la ubicación: </b>{{beneficiario.entre_vialidades}}</p>
        </div>
    </section>
</div>
    
<div id="svg_wrap">
    <section>
        <p><b>Estudio socioeconómico</b></p>
        <hr>
        <div class="col-6">
            <p style="display: inline;"><b>Entregó estudio socioeconómico: </b>
                {% if beneficiario.estudio_socioeconomico == True %}
                    <p style="color: rgb(0, 199, 66);display: inline;">Sí</p>
                {% else %}
                    <p style="color: rgb(180, 3, 3);display: inline;">No</p>
                {% endif %}
            </p>
            <p><b>Estado civíl: </b>{{beneficiario.estado_civil}}</p>
            <p><b>Es jefe de familia: </b>    
                {% if beneficiario.jefe_familia == True %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </p>
            <p><b>Ocupación: </b>{{beneficiario.ocupacion}}</p>
            <p><b>Ingreso mensual: </b>${{beneficiario.ingreso_mensual}}.00 pesos</p>
            <p><b>Número de integrantes de la familia: </b>{{beneficiario.integrantes_familia}}</p>
            <p><b>Número de dependientes económicos: </b>{{beneficiario.dependientes_economicos}}</p>
            <!-- ¿Qué va en vivienda? -->
            <p><b>Vivienda: </b>{{beneficiario.vivienda}}</p>
            <p><b>Número de habitantes de la vivienda: </b>{{beneficiario.numero_habitantes_vivienda}}</p>
            <p><b>Servicio de electricidad: </b>
                {% if beneficiario.vivienda_electricidad == True %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </p>
            <p><b>Servicio de agua corriente: </b>
                {% if beneficiario.vivienda_agua == True %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </p>
            <p><b>Servicio de drenaje: </b>
                {% if beneficiario.vivienda_drenaje == True %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </p>
            <p><b>Servicio de gas: </b>
                {% if beneficiario.vivienda_gas == True %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </p>
            <p><b>Servicio de teléfono: </b>
                {% if beneficiario.vivienda_teléfono == True %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </p>
            <p><b>Servicio de Internet: </b>
                {% if beneficiario.vivienda_internet == True %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </p>
            <p><b>Nivel de estudios:</b> {{beneficiario.nivel_estudios}}</p>
            <p><b>Tipo de seguridad social:</b> {{beneficiario.tipo_seguridad_social}}</p>
            <p><b>Discapacidad:</b> {{beneficiario.discapacidad}}</p>
            <p><b>Grupo vulnerable:</b> {{beneficiario.grupo_vulnerable}}</p>
        </div>
    </section>
    <div id="prev">
        <a class="btn btn-secondary" href="{% url 'beneficiarios:principal' %}">Regresar</a>
    </div>
</div>
    
    <!-- <div id="prev"><a  class="btn btn-secondary" href = "{% url 'beneficiarios:principal' %}">Regresar</a></div>
    <div id="next"><a  class="btn btn-primary" href = "{% url 'beneficiarios:principal' %}">Editar</a></div> -->

    <!--Es el botón que va a enviar el formulario (en teoría xd)-->
    <!--No olviden poner las validaciones del de este lado, se tendrán que poner a mano a menos de que
    después encuentre alguna forma de ponerlas con ayuda de Django y utilizando este mismo código-->
<br>

<!-- Modal Eliminar -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminando beneficiario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalCuerpo">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form id="formEliminar" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Sí</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/modales.js' %}"></script>
{% endblock %}

    
    