{% extends 'base.html' %}

{% block titulo %}
Lista de empleados
{% endblock titulo %}

{% block encabezado %}
Lista de empleados
{% endblock encabezado %}

{% block contenido %}
<div class="card mb-4">
    <div class="card-header">
        <a href="{% url 'empleados:nuevo' %}" class="btn btn-primary">Nuevo empleado</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre(s)</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Alias</th>
                    <th>Teléfono</th>
                    <th>Nombre de usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Nombre(s)</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Alias</th>
                    <th>Teléfono</th>
                    <th>Nombre de usuario</th>
                </tr>
            </tfoot>
            <tbody>
                {% for empleado in object_list  %}
                    <tr>
                        <td>{{empleado.id}}</td>
                        <td>{{empleado.first_name}}</td>
                        <td>{{empleado.last_name}}</td>
                        <td>{{empleado.segundo_apellido}}</td>
                        <td>{{empleado.alias}}</td>
                        <td>{{empleado.telefono}}</td>
                        <td>{{empleado.username}}</td>
                        <td>
                            <a href="{% url 'empleados:detalle' empleado.id %}" class="btn btn-info">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenido %}