{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Empleado
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %} 
Detalle de Empleado
{% endblock %}

{% block contenido %}
    <div class="col-xs-3">
        <a href="{% url 'empleados:lista' %}" class="btn btn-primary btn-sm">Regresar</a>
        <a href="{% url 'empleados:modificar' empleado.id %}" class="btn btn-secondary btn-sm">Modificar datos</a>
        <a href="{% url 'empleados:grupo' empleado.id %}" class="btn btn-secondary btn-sm">Modificar permisos</a>
        <button onclick="muestraModal('{% url 'empleados:eliminar' empleado.id %}')" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminarModal">Eliminar</button>
    </div>
    
    <div id="svg_wrap">
        <section> 
            <p><b>Datos del Empleado</b></p>
            <hr>
            <div class="col-6">
            <p><b>Nombre(s): </b>{{empleado.first_name}}</p>
            <p><b>Primer apellido: </b> {{empleado.last_name}}</p>
            <p><b>Segundo apellido: </b> {{empleado.segundo_apellido}}</p>
            <p><b>Alias: </b>{{empleado.alias}}</p>
            <p><b>Teléfono: </b>{{empleado.telefono}}</p>
            <p><b>Grupo: </b>{{empleado.grupo}}</p>
        </section>
    </div>
    <div id="svg_wrap">
        <section> 
            <p><b>Permisos del Empleado</b></p>
            <hr>
            <div class="col-6">
            {% if admin %}
                <p>{{admin}}</p>
            {% else %}
                {% for permiso in permisos %}
                    <p>{{permiso.name}}</p>
                {% endfor %}
            {% endif %}
        </section>
    </div>
    
    <!-- Modal Eliminar -->
    <div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminando Registro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalCuerpo">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <form id="formEliminar" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Sí</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script src="{% static 'js/modales.js' %}"></script>
{% endblock %}