{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Visas
{% endblock %}

{% block encabezado %} 
    <div class="container">
        <div class="row">
            <div class="col-11">
                Lista de trámites de Visa
            </div>
            <div class="col-1">
                <a class="btn btn-success btn-lg" href="{% url 'visas:nueva' %}">Nuevo</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block contenido %}
    {% if messages %}
        {% for mensaje in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}">
                {{mensaje}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Información de visas
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>CURP</th>
                        <th>Pasaporte</th>
                        <th>Pago</th>
                        <th>Asesor</th>
                        <th>Fecha cita</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>CURP</th>
                        <th>Pasaporte</th>
                        <th>Pago</th>
                        <th>Asesor</th>
                        <th>Fecha cita</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for visa in visas %}
                        <tr>
                            <td>{{visa.curp}}</td>
                            <td>
                                {% if visa.pasaporte == 1 %}
                                    Entregado
                                {% else %}
                                    No entregado
                                {% endif %}
                            </td>
                            <td>
                                {% if visa.pago == 1 %}
                                    Realizado
                                {% else %}
                                    No realizado
                                {% endif %}
                            </td>
                            <td>{{visa.asesor}}</td>
                            <td>
                                {% if visa.fecha_cita %}
                                    {{visa.fecha_cita}}
                                {% else %}
                                    Pendiente
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-secondary btn-sm" href="{% url 'visas:detalle' visa.curp %}">Ver más</a>
                                <a class="btn btn-warning btn-sm" href="{% url 'visas:editar' visa.curp %}">Editar</a>
                                <button onclick="muestraModal('{% url 'visas:eliminar' visa.curp %}')" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminarModal">Eliminar</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal Eliminar -->
    <div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminando Registro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalCuerpo">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <form id="formEliminar" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Sí</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/modales.js' %}"></script>
{% endblock %}