{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Lista de Correción de Actas
{% endblock titulo %}

{% block encabezado %}
    <div class="container">
        <div class="row">
            <div class="col-11">
                Lista de Correción de Actas
            </div>
            <div class="col-1">
                <a class="btn btn-success btn-lg" href="{% url 'ferias_binacionales:nuevo_correccion_acta' %}">Nuevo</a>
            </div>
        </div>
    </div>
{% endblock encabezado %}
{% block contenido %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Información Correción de Actas
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Nombre completo</th>
                    <th>Original y 2 copias</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nombre completo</th>
                    <th>Original y 2 copias</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
            <tbody>
                {% for correccion in object_list %}
                    <tr>
                        <td>{{correccion.nombre}} {{correccion.ap_paterno}} {{correccion.ap_materno}}</td>
                        <td>
                            {% if correccion.original_copias == 1 %}
                                Entregada
                            {% else %}
                                No entregada
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'ferias_binacionales:detalle_correccion_acta' correccion.id %}">Ver más</a>
                            <a class="btn btn-warning btn-sm" href="{% url 'ferias_binacionales:actualizar_correccion_acta' correccion.id %}">Editar</a>
                            <button onclick="muestraModal('{% url 'ferias_binacionales:eliminar_correccion_acta' correccion.id %}')" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminarModal">Eliminar</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a class="btn btn-secondary" href="{% url 'ferias_binacionales:servicios' %}">Regresar a Servicios</a>  
    <!-- Modal Eliminar -->
    <div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminando Registro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalCuerpo">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <form id="formEliminar" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Sí</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
{% endblock contenido %}

{% block js %}
    <script src="{% static 'js/modales.js' %}"></script>
{% endblock %}