{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Servicios
{% endblock titulo %}

{% block encabezado %}
    Servicios
{% endblock encabezado %}


{% block contenido %}

  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3" >
        <div class="card-body">
          <h5 class="card-title" >Constancia de Estudios de Preescolar, Primaria y Secundaria.</h5>
          <hr>
          <a href="#" class="btn btn-primary" >Seleccionar</a>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3">
      <div class="card-body">
        <h5 class="card-title">Mandamientos Judiciales(No Antecedentes Penales)</h5>
        <hr>
        <a href="#" class="btn btn-primary" >Seleccionar</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3" >
      <div class="card-body">
        <h5 class="card-title">Defensoría Pública</h5>
        <hr>
        <a href="#" class="btn btn-primary" >Seleccionar</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3">
      <div class="card-body">
        <h5 class="card-title" >Licencia de Conducir</h5>
        <hr>
        <a href="#" class="btn btn-primary" >Seleccionar</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3" >
        <div class="card-body">
          <h5 class="card-title" >Constancia de Estudios de Preescolar, Primaria y Secundaria.</h5>
          <hr>
          <a href="#" class="btn btn-primary" >Seleccionar</a>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3">
      <div class="card-body">
        <h5 class="card-title">Mandamientos Judiciales(No Antecedentes Penales)</h5>
        <hr>
        <a href="#" class="btn btn-primary" >Seleccionar</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3" >
      <div class="card-body">
        <h5 class="card-title">Defensoría Pública</h5>
        <hr>
        <a href="#" class="btn btn-primary" >Seleccionar</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3">
      <div class="card-body">
        <h5 class="card-title" >Licencia de Conducir</h5>
        <hr>
        <a href="#" class="btn btn-primary" >Seleccionar</a>
      </div>
    </div>
  </div>





{% endblock contenido %}