{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Servicios
{% endblock titulo %}

{% block encabezado %}
    Servicios
{% endblock encabezado %}


{% block contenido %}
<div class="row">
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3" >
        <div class="card-body">
          <h5 class="card-title" >Constancia de Estudios de Preescolar, Primaria y Secundaria.</h5>
          <hr>
          <a href="{% url 'ferias_binacionales:nuevo_constancia_estudios' %}" class="btn btn-success" >Nueva solicitud</a>
          <a href="{% url 'ferias_binacionales:constancia_estudios' %}" class="btn btn-primary" >Lista de solicitudes</a>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3">
      <div class="card-body">
        <h5 class="card-title">Mandamientos Judiciales(No Antecedentes Penales)</h5>
        <hr>
        <a href="{% url 'ferias_binacionales:nuevo_mandamiento_judicial' %}" class="btn btn-success" >Nueva solicitud</a>
        <a href="{% url 'ferias_binacionales:mandamiento_judicial' %}" class="btn btn-primary" >Lista de solicitudes</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3" >
      <div class="card-body">
        <h5 class="card-title">Defensoría Pública</h5>
        <hr>
        <a href="{% url 'ferias_binacionales:nuevo_defensoria_publica' %}" class="btn btn-success" >Nueva solicitud</a>
        <a href="{% url 'ferias_binacionales:defensoria_publica' %}" class="btn btn-primary" >Lista de solicitudes</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3">
      <div class="card-body">
        <h5 class="card-title" >Licencia de Conducir</h5>
        <hr>
        <a href="{% url 'ferias_binacionales:nuevo_licencia_conducir' %}" class="btn btn-success" >Nueva solicitud</a>
        <a href="{% url 'ferias_binacionales:licencia_conducir' %}" class="btn btn-primary" >Lista de solicitudes</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3" >
        <div class="card-body">
          <h5 class="card-title" >Expedición de Acta</h5>
          <hr>
          <a href="{% url 'ferias_binacionales:nuevo_expedicion_acta' %}" class="btn btn-success" >Nueva solicitud</a>
          <a href="{% url 'ferias_binacionales:expedicion_acta' %}" class="btn btn-primary" >Lista de solicitudes</a>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3">
      <div class="card-body">
        <h5 class="card-title">Doble Nacionalidad</h5>
        <hr>
        <a href="{% url 'ferias_binacionales:nuevo_doble_nacionalidad' %}" class="btn btn-success" >Nueva solicitud</a>
        <a href="{% url 'ferias_binacionales:doble_nacionalidad' %}" class="btn btn-primary" >Lista de solicitudes</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center card-custom mx-2 mb-3" >
      <div class="card-body">
        <h5 class="card-title">Trámite Administrativo (Correción de acta)</h5>
        <hr>
        <a href="{% url 'ferias_binacionales:nuevo_correccion_acta' %}" class="btn btn-success" >Nueva solicitud</a>
        <a href="{% url 'ferias_binacionales:correccion_acta' %}" class="btn btn-primary" >Lista de solicitudes</a>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}