{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Servicios
{% endblock titulo %}

{% block encabezado %}
    Servicios
{% endblock encabezado %}


{% block contenido %}
<div class="row">
  <div class="col-sm-6">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title" >Constancia de Estudios de Preescolar, Primaria y Secundaria.</h5>
          <hr>
          <a href="#" class="btn btn-primary" >Seleccionar</a>
        </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Mandamientos Judiciales(No Antecedentes Penales)</h5>
        <hr>
        <a href="#" class="btn btn-primary" >Seleccionar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Defensoría Pública</h5>
        <hr>
        <a href="#" class="btn btn-primary" >Seleccionar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" >Licencia de Conducir</h5>
        <hr>
        <a href="#" class="btn btn-primary" >Seleccionar</a>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}