{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Apostillas
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %} 
    {% if editar == False %}
        Nueva 
    {% else %}
        Editar
    {% endif %}
        apostilla
{% endblock %}
{% block contenido %}
    <form method="POST">
        {% csrf_token %}
        <div id="svg_wrap">
            <section>
                <p><b>Documentos requeridos</b></p>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {{form.acta_americana}}
                            <label class="form-check-label">Acta de nacimiento americana</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{form.acta_mexicana}}
                            <label class="form-check-label">Acta de nacimiento mexicana</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{form.identificacion_padres}}
                            <label class="form-check-label"> Identificacion de los padres</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{form.curp}}
                            <label class="form-check-label">CURP</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{form.comprobante_domicilio}}
                            <label class="form-check-label">Comprobante de domicilio</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{form.rfc}}
                            <label class="form-check-label">RFC</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-secondary" href="{% url 'apostillas:lista' %}">Regresar</a>
                            <input type="submit" class="btn btn-success" id="submit" value="{% if editar == False %}Agregar{% else %}Guardar{% endif %}">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
{% endblock %}