{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Apostillas
{% endblock %}

{% block encabezado %} Lista de trámites de apostilla {% endblock %}
{% block contenido %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Información de apostillas
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Beneficiario</th>
                        <th>Acta Americana</th>
                        <th>Acta Mexicana</th>
                        <th>Identificación de los padres</th>
                        <th>CURP</th>
                        <th>Comprobante de domicilio</th>
                        <th>RFC</th>
                        <th>Comprobante de domicilio</th>
                        <th>Fecha inicio</th>
                        <th>Fecha fin</th>
                        <th>Estado del tramite</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Beneficiario</th>
                        <th>Acta Americana</th>
                        <th>Acta Mexicana</th>
                        <th>Identificación de los padres</th>
                        <th>CURP</th>
                        <th>Comprobante de domicilio</th>
                        <th>RFC</th>
                        <th>Fecha inicio</th>
                        <th>Fecha fin</th>
                        <th>Estado del tramite</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for apostilla in apostillas %}
                        <tr>
                            <td>{{apostilla.beneficiario.nombres}}</td>
                            <td>{{apostilla.acta_americana}}</td>
                            <td>{{apostilla.acta_mexicana}}</td>
                            <td>{{apostilla.identificacion_padres}}</td>
                            <td>{{apostilla.curp}}</td>
                            <td>{{apostilla.comprobante_domicilio}}</td>
                            <td>{{apostilla.rfc}}</td>
                            <td>{{apostilla.tramite.fecha_inicio}}</td>
                            <td>{{apostilla.tramite.fecha_fin}}</td>
                            <td>{{apostilla.tramite.estado}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}