{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Apostillas
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}
{% block encabezado %} 
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-8">
                Detalle de la Apostilla
            </div>
            <div class="col-md-auto">
                <a class="btn btn-warning btn-lg" href="{% url 'apostillas:editar' apostilla.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    Editar
                </a>
            </div>
            <div class="col-md-auto">
                <button onclick="muestraModal('{% url 'apostillas:eliminar' apostilla.id %}')" type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#eliminarModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                    Eliminar
                </button>
            </div>
        </div>
    </div>
{% endblock encabezado %}
{% block contenido %}
    <div id="svg_wrap">
        <section> 
            <p><b>Datos generales del beneficiario</b></p>
            <hr>
            <div class="col-6">
            <p><b>CURP: </b>{{apostilla.tramite.beneficiario.curp}}</p>
            <p><b>Apellido paterno: </b> {{apostilla.tramite.beneficiario.primer_apellido}}</p>
            <p><b>Apellido materno: </b> {{apostilla.tramite.beneficiario.segundo_apellido}}</p>
            <p><b>Nombre: </b>{{apostilla.tramite.beneficiario.nombre}}</p>
        </section>
    </div>    
    <div id="svg_wrap">
        <section> 
            <p><b>Estado de los documentos</b></p>
            <hr>
            <div class="col-6">
            <p><b>Acta de nacimiento americana: </b>{% if apostilla.acta_americana == 1 %}Entregada{% else %}No entregada{% endif %}</p>
            <p><b>Acta de nacimiento mexicana: </b>{% if apostilla.acta_mexicana == 1 %}Entregada{% else %}No entregada{% endif %}</p>
            <p><b>Identificación de los padres: </b>{% if apostilla.identificacion_padres == 1 %}Entregadas{% else %}No entregadas{% endif %}</p>
            <p><b>CURP: </b>{% if apostilla.curp == 1 %}Entregada{% else %}No entregada{% endif %}</p>
            <p><b>Comprobante de domicilio: </b>{% if apostilla.comprobante_domicilio == 1 %}Entregado{% else %}No entregado{% endif %}</p>
            <p><b>RFC: </b>{% if apostilla.rfc == 1 %}Entregado{% else %}No entregado{% endif %}</p>
        </section>
    </div>    
    <div id="svg_wrap">
        <section> 
            <p><b>Datos del trámite</b></p>
            <hr>
            <div class="col-6">
            <p><b>Fecha de inicio: </b>{{apostilla.tramite.fecha_inicio}}</p>
            <p><b>Fecha de finalización: </b> {{apostilla.tramite.fecha_fin}}</p>
            <p><b>Estado: </b> {{apostilla.tramite.estado}}</p>
        </section>
        <a class="btn btn-secondary btn-lg" href="{% url 'apostillas:lista' %}">Regresar</a>
    </div>    
{% endblock %}
