{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Apostillas
{% endblock %}

{% block encabezado %} 
    <div class="container">
        <div class="row">
            <div class="col-10">
                Lista de trámites de apostilla 
            </div>
            <div class="col-2">
                <a class="btn btn-success btn-lg" href="{% url 'apostillas:nueva' %}">Nuevo</a>
            </div>
        </div>
    </div> 
{% endblock %}
{% block contenido %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Información de apostillas
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Beneficiario</th>
                        <th>Acta Americana</th>
                        <th>Acta Mexicana</th>
                        <th>Identificación de los padres</th>
                        <th>CURP</th>
                        <th>Comprobante de domicilio</th>
                        <th>RFC</th>
                        <th>Estado del tramite</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Beneficiario</th>
                        <th>Acta Americana</th>
                        <th>Acta Mexicana</th>
                        <th>Identificación de los padres</th>
                        <th>CURP</th>
                        <th>Comprobante de domicilio</th>
                        <th>RFC</th>
                        <th>Estado del tramite</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for apostilla in apostillas %}
                        <tr>
                            <td>{{apostilla.tramite.beneficiario.nombre}}</td>
                            <td>
                                {% if apostilla.acta_americana == 1 %}
                                    Entregada
                                {% else %}
                                    No entregada
                                {% endif %}
                            </td>
                            <td>
                                {% if apostilla.acta_mexicana == 1 %}
                                    Entregada
                                {% else %}
                                    No entregada
                                {% endif %}
                            </td>
                            <td>
                                {% if apostilla.identificacion_padres == 1 %}
                                    Entregada
                                {% else %}
                                    No entregada
                                {% endif %}
                            </td>
                            <td>
                                {% if apostilla.curp == 1 %}
                                    Entregada
                                {% else %}
                                    No entregada
                                {% endif %}
                            </td>
                            <td>
                                {% if apostilla.comprobante_domicilio == 1 %}
                                    Entregado
                                {% else %}
                                    No entregado
                                {% endif %}
                            </td>
                            <td>
                                {% if apostilla.rfc == 1 %}
                                    Entregado
                                {% else %}
                                    No entregado
                                {% endif %}
                            </td>
                            <td>{{apostilla.tramite.estado}}</td>
                            <td>
                                <a class="btn btn-secondary btn-sm" href="{% url 'apostillas:detalle' apostilla.id %}">Ver más</a>
                                <a class="btn btn-warning btn-sm" href="{% url 'apostillas:editar' apostilla.id %}">Editar</a>
                                <button onclick="muestraModal('{% url 'apostillas:eliminar' apostilla.id %}')" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminarModal">Eliminar</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal Eliminar -->
    <div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminando Registro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalCuerpo">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <form id="formEliminar" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Sí</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/modales.js' %}"></script>
{% endblock %}