{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Apostillas
{% endblock %}

{% block encabezado %} Lista de trámites de apostilla {% endblock %}
{% block contenido %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Información de apostillas
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Beneficiario</th>
                        <th>Acta Americana</th>
                        <th>Acta Mexicana</th>
                        <th>Identificación de los padres</th>
                        <th>CURP</th>
                        <th>Comprobante de domicilio</th>
                        <th>RFC</th>
                        <th>Estado del tramite</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Beneficiario</th>
                        <th>Acta Americana</th>
                        <th>Acta Mexicana</th>
                        <th>Identificación de los padres</th>
                        <th>CURP</th>
                        <th>Comprobante de domicilio</th>
                        <th>RFC</th>
                        <th>Estado del tramite</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for apostilla in apostillas %}
                        <tr>
                            <td>{{apostilla.tramite.beneficiario.nombre}}</td>
                            <td>
                                {% if apostilla.acta_americana == 1 %}
                                    Entregada
                                {% else %}
                                    No entregada
                                {% endif %}
                            </td>
                            <td>
                                {% if apostilla.acta_mexicana == 1 %}
                                    Entregada
                                {% else %}
                                    No entregada
                                {% endif %}
                            </td>
                            <td>
                                {% if apostilla.identificacion_padres == 1 %}
                                    Entregada
                                {% else %}
                                    No entregada
                                {% endif %}
                            </td>
                            <td>
                                {% if apostilla.curp == 1 %}
                                    Entregada
                                {% else %}
                                    No entregada
                                {% endif %}
                            </td>
                            <td>
                                {% if apostilla.comprobante_domicilio == 1 %}
                                    Entregado
                                {% else %}
                                    No entregado
                                {% endif %}
                            </td>
                            <td>
                                {% if apostilla.rfc == 1 %}
                                    Entregado
                                {% else %}
                                    No entregado
                                {% endif %}
                            </td>
                            <td>{{apostilla.tramite.estado}}</td>
                            <td>
                                <a class="btn btn-success btn-sm" href="{% url 'apostillas:nueva' %}">Nueva</a>
                                <a class="btn btn-secondary btn-sm" href="{% url 'apostillas:detalle' apostilla.id %}">Ver más</a>
                                <a class="btn btn-warning btn-sm" href="{% url 'apostillas:editar' apostilla.id %}">Editar</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'apostillas:eliminar' apostilla.id %}">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}