{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Apostillas
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %} Detalle de la apostilla {% endblock %}
{% block contenido %}
    <div id="svg_wrap">
        <section> 
            <p><b>Datos generales del beneficiario</b></p>
            <hr>
            <div class="col-6">
            <p><b>CURP: </b>{{apostilla.tramite.beneficiario.curp}}</p>
            <p><b>Apellido paterno: </b> {{apostilla.tramite.beneficiario.primer_apellido}}</p>
            <p><b>Apellido materno: </b> {{apostilla.tramite.beneficiario.segundo_apellido}}</p>
            <p><b>Nombre: </b>{{apostilla.tramite.beneficiario.nombre}}</p>
        </section>
    </div>    
    <div id="svg_wrap">
        <section> 
            <p><b>Estado de los documentos</b></p>
            <hr>
            <div class="col-6">
            <p><b>Acta de nacimiento americana: </b>{% if apostilla.acta_americana == 1 %}Entregada{% else %}No entregada{% endif %}</p>
            <p><b>Acta de nacimiento mexicana: </b>{% if apostilla.acta_mexicana == 1 %}Entregada{% else %}No entregada{% endif %}</p>
            <p><b>Identificación de los padres: </b>{% if apostilla.identificacion_padres == 1 %}Entregadas{% else %}No entregadas{% endif %}</p>
            <p><b>CURP: </b>{% if apostilla.curp == 1 %}Entregada{% else %}No entregada{% endif %}</p>
            <p><b>Comprobante de domicilio: </b>{% if apostilla.comprobante_domicilio == 1 %}Entregado{% else %}No entregado{% endif %}</p>
            <p><b>RFC: </b>{% if apostilla.rfc == 1 %}Entregado{% else %}No entregado{% endif %}</p>
        </section>
    </div>    
    <div id="svg_wrap">
        <section> 
            <p><b>Datos del trámite</b></p>
            <hr>
            <div class="col-6">
            <p><b>Fecha de inicio: </b>{{apostilla.tramite.fecha_inicio}}</p>
            <p><b>Fecha de finalización: </b> {{apostilla.tramite.fecha_fin}}</p>
            <p><b>Estado: </b> {{apostilla.tramite.estado}}</p>
        </section>
        <a class="btn btn-secondary" href="{% url 'apostillas:lista' %}">Regresar</a>
    </div>    
{% endblock %}
