{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %}  {% endblock %}
{% block contenido %}
  <div id="svg_wrap">
    <!--El javascript inserta aquí la sección correspondiente conforme nos movemos en el formulario  -->
</div>
    <section> <!-- Para agregar un paso más al formulario se utiliza esta tag y dentro de ella
                   los controles de formulario según se necesite  -->
        <p>Inicio de registro</p>
        <div class="col-6">
            <input class="form-control" type="text" placeholder="CURP" />
        </div>
    </section>

    <section>
        <p>Datos personales</p>
        <div class="container">
            <div class="row">
                <div class="col">
                    <input class="form-control" type="text" placeholder="Nombre(s)" />
                </div>
                <div class="col">
                    <input class="form-control" type="text" placeholder="Primer apellido" />
                </div>
            </div>
            <div class="row">
                <div class="col-6"> <!--Está con col-6 para que sólo llegue a la mitad-->
                    <input class="form-control" type="text" placeholder="Segundo apellido" />
                </div>
            </div>
        </div>
    </section>
    <section>
        <p>Documentos requeridos</p>
        <div class="container">
            <div class="row">
                <div class="col">
                    <label class="form-check-label" for="flexCheckDefault"> 
                        Acta de nacimiento americana
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-check-label" for="flexCheckDefault"> 
                        Acta de nacimiento mexicana
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-check-label" for="flexCheckDefault"> 
                        Identificacion de los padres
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-check-label" for="flexCheckDefault"> 
                        CURP
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-check-label" for="flexCheckDefault"> 
                        Comprobante de domicilio
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-check-label" for="flexCheckDefault"> 
                        RFC
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-check-label" for="flexCheckDefault"> 
                        
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
        </div>
    </section>

    <div class="btn btn-secondary" id="prev">Regresar</div>
    <div class="btn btn-primary" id="next" class="btn btn-primary">Siguiente</div>
    <!--Es el botón que va a enviar el formulario (en teoría xd)-->
    <!--No olviden poner las validaciones del de este lado, se tendrán que poner a mano a menos de que
    después encuentre alguna forma de ponerlas con ayuda de Django y utilizando este mismo código-->
    <div class="btn btn-success" id="submit">Guardar</div>
{% endblock %}

{% block js %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="{% static 'js/formulario.js' %}"></script>
{% endblock %}