{% extends 'base_consultas.html' %}
{% load static %}
{% block titulo %}
SEZAMI Desk
{% endblock titulo %}

{% block contenido %}
  <div class="text-center">
    <img src="{% static 'media/banner_veda.png' %}" class="img-fluid" width="70%" height="70%" >
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card text-center card-custom mx-2 mb-3" >
          <div class="card-body">
            <h5 class="card-title" >Consultar estado del trámite</h5>
            <hr>
            <a href="{% url 'consultas:consulta' %}" class="btn btn-primary" >Seleccionar</a>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center card-custom mx-2 mb-3">
        <div class="card-body">
          <h5 class="card-title">Iniciar sesión</h5>
          <hr>
          <a href="{% url 'empleados:login' %}" class="btn btn-primary" >Seleccionar</a>
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %}