{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    {{ etiqueta }} trámite de atención a migrantes
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %}
    {{ etiqueta }} trámite de atención a migrantes
{% endblock %}
{% block contenido %}
<!-- ***************** DATOS DEL TRAMITE *****************  -->
<form method="post">
    {% csrf_token %}
    <div id="svg_wrap">
    <!--El javascript inserta aquí la sección correspondiente conforme nos movemos en el formulario  -->
    </div>
    <section>
        <div class="container">
            <p style="display: inline;"><b>Datos del trámite</b></p>
            <hr>
            <p style="display: inline;">
                {{form.as_p}}
            </p>
        </div>
    </section>
    <div id="prev">
        <a class="btn btn-secondary" href="{% url 'atencion_migrantes:principal' %}">Regresar</a>    
        <input type="submit" class="btn btn-primary" id="submit" value="{{boton}}">
    </div>
    <!--Es el botón que va a enviar el formulario-->    
</form>
<br>
<!-- ***************** DATOS DEL ESTUDIO SOCIOECONOMICO *****************  -->
<form action = "{% url 'beneficiarios:crear' %}" method="post">
    {% csrf_token %}
    <div id="svg_wrap">
    <!--El javascript inserta aquí la sección correspondiente conforme nos movemos en el formulario  -->
    </div>
    <section id="seccion_beneficiario">
        <div class="container">
            <p style="display: inline;"><b>Datos del beneficiario</b></p>
            <hr>
            <p style="display: inline;">
                {{form_beneficiario.as_p}}
            </p>
        </div>
    </section id="seccion_vivienda">
    <section>
        <div class="container">
            <p style="display: inline;"><b>Dirección de la vivienda</b></p>
            <hr>
            <p style="display: inline;">
                {{form_direccion.as_p}}
            </p>
        </div>
    </section>
    <section id="seccion_estudio">
        <div class="container">
            <p style="display: inline;"><b>Estudio socioeconómico</b></p>
            <hr>
            <p style="display: inline;">
                {{form_estudio.as_p}}
            </p>
        </div>
    </section>
    <div id="prev">   
        <input type="submit" class="btn btn-primary" id="submit" value="{{boton}}">
    </div>
    <!--Es el botón que va a enviar el formulario -->
</form>
<br>
{% endblock %}
{% block js %}
    <script src="{% static 'js/tramites.js' %}"></script>
{% endblock %}
